.widget__option {
    color: white;
    font-weight: 200;
    font-size: 2rem ;
    padding: $m-size $s-size;
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid lighten($light-blue, 10% );
}